/*
	File Overview:	Basic structural styles.
	Author:			Michael Bester
*/

html {
	min-height: 100%;
	margin-bottom: 1px;
}

body {
	@include reset-box-model;
	background: $page-background-color;
}

.group {
	@include pie-clearfix;
}
